<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="1">
        <thead>
        <tr>
            <th>Product Code</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tbody>
        <tr th:each="orderItem : ${orderItems}">
            <td th:text=" ${orderItem.productCode}"></td>
            <td th:text="${orderItem.quantity}"></td>
            <td th:text="${orderItem.productPrice}"></td>
        </tbody>
        </tbody>
    </table><br><br>
    <form th:action="@{./placeOrder}" method="post">
        Address <input value="text" name="address">
        <input type="submit" value="Confirm">
    </form>
    <h3 th:text="${total}"></h3><br><br>
    <h6 th:text="${error}"></h6>
    <br><br>
    <a href="./home">Home</a>
    <br><br>
    <a href="./order">Back</a>

</body>
</html>